nav{
    height: 50px;
    background-color: lightgray;
    font-size: 25px;
    line-height: 30px;
}

nav li{
    list-style: none;
    padding: 10px;
}
nav>ul>li{
    float: left;
}
nav a{
    text-decoration: none;
    color: black;
}
nav li:hover{
    background-color: lightgreen; 
}
.dropdown{
    display: none;
    position: absolute;
    background-color: lightgray;
    padding: 0%;
}
nav > ul > li:hover >ul{
    display: block;
}